.post {
  margin: 15px;
  padding: 20px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 1px 1px 10px #000;
  &:hover {
    border-radius: 25px;
    background: #eee;
  }
  .postDate {
    font-size: 10px;
    color: #888;
  }
  .postBody {
    color: #000;
  }
}
